<nav>
    <div class="nav-wrapper">
     <h2>Mongo Scraper!</h2>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/articles/:id">Saved Articles</a></li>
        <a class="waves-effect waves-light btn">Scrape New Articles!</a>
      </ul>
    </div>
</nav>

<div class="container">
    <h1 id="title">Mongo Scraper!</h1>
</div>

